{
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 100,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "importOrder": ["^react(.*)$", "^@material-ui/(.*)$", "<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "options": {
        "parser": "babel-ts"
      }
    }
  ]
}
